<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/main.css">
  <title>Document</title>
</head>
<body>
  <div class="header">
    <div class="header-wrapper">
      <div class="name-wrapper">Hello <span id="name">{name}</span></div>
      <button type="button" class="logout">LOG OUT</button>
    </div>
  </div>
  <div class="main">
    <div>Current Role: <span class="rn">{role}</span></div>
    <button type="button" id="accessBtn" class="btn btn-sm">Check Access</button>
    <div class="rn">
      Have Access to:
      <span id="access"></span>
    </div>
  </div>
  <script>
    (function(){
      let local_storage;
      
      function handle_storage(){
        local_storage = localStorage;
        delete localStorage;
      }
      
      handle_storage();
    
      if(local_storage.getItem("refresh_token")){
        fetch("/re_token", {
          method: "GET",
          headers: {
            "authorization": `bearer ${local_storage.getItem("refresh_token")}` 
          }
        }).then(e=>e.json()).then(e=>{
          if(e.message=="SUCCESS"){
            document.querySelector("#name").innerHTML = e.data.name;
            document.querySelector(".rn").innerHTML = e.data.role;
          }else if(e.data == "INVALID_TOKEN") location.href = "/login";
        });
      }else{
        document.body.innerHTML = "OOPS!! Something Wrong";
        location.href = "/login";
      }

      document.querySelector(".logout").onclick = logout;

      function logout(){
        local_storage.setItem("refresh_token", null);
        
        fetch("/logout", {
          method: "GET"
        }).then(e=>{
          location.href = "/login";
        });
      };

      document.querySelector("#accessBtn").onclick = function(){
        console.log("hhhh");
        fetch("/get_access").then(e=>e.json()).then(e=>{
          function p(a, n){
            return e[a] == 1 ? n + "," : "";
          }
          document.querySelector("#access").innerHTML = `
            ${p("r", "Read")}
            ${p("u", "Update")}
            ${p("c", "Create")}
            ${p("d", "Delete")}
          `;
        });
      }

    })();
  </script>
</body>
</html>